<%= form_with(model: time_uplink, local: true) do |form| %>
  <% if time_uplink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_uplink.errors.count, "error") %> prohibited this time_uplink from being saved:</h2>

      <ul>
      <% time_uplink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :uplink_id %>
    <%= form.text_field :uplink_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
