<p id="notice"><%= notice %></p>

<h1>Sensor1s</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Uplink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor1s.each do |sensor1| %>
      <tr>
        <td><%= sensor1.value %></td>
        <td><%= sensor1.uplink %></td>
        <td><%= link_to 'Show', sensor1 %></td>
        <td><%= link_to 'Edit', edit_sensor1_path(sensor1) %></td>
        <td><%= link_to 'Destroy', sensor1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor1', new_sensor1_path %>
