<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @sensor1.value %>
</p>

<p>
  <strong>Uplink:</strong>
  <%= @sensor1.uplink %>
</p>

<%= link_to 'Edit', edit_sensor1_path(@sensor1) %> |
<%= link_to 'Back', sensor1s_path %>
