<p id="notice"><%= notice %></p>

<h1>Uplinks</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Avgsnr</th>
      <th>Rssi</th>
      <th>Long</th>
      <th>Lat</th>
      <th>Snr</th>
      <th>Thing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uplinks.each do |uplink| %>
      <tr>
        <td><%= uplink.data %></td>
        <td><%= uplink.avgsnr %></td>
        <td><%= uplink.rssi %></td>
        <td><%= uplink.long %></td>
        <td><%= uplink.lat %></td>
        <td><%= uplink.snr %></td>
        <td><%= uplink.thing %></td>
        <td><%= link_to 'Show', uplink %></td>
        <td><%= link_to 'Edit', edit_uplink_path(uplink) %></td>
        <td><%= link_to 'Destroy', uplink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uplink', new_uplink_path %>
