<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @uplink_b_downlink.value %>
</p>

<p>
  <strong>Uplink:</strong>
  <%= @uplink_b_downlink.uplink %>
</p>

<%= link_to 'Edit', edit_uplink_b_downlink_path(@uplink_b_downlink) %> |
<%= link_to 'Back', uplink_b_downlinks_path %>
